

.react-calendar__month-view__days {
    height: 400px;
}

.react-calendar .has-workout {
    background-color: #96E6FF;
}

.day-workout {
    background-color: #96E6FF;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 1% auto 0;
    cursor: pointer;
}