@font-face {
    font-family: 'Inter';
    src: url('../Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter', serif;
}
.sidebar {
    background-color: #005073;
}

.sidebar nav a {
    text-decoration: none;
    color: #C6F1FF;
    font-size: 2rem;
}


.sidebar nav .active {
    color:white;
    background:#0078AB ;
}

.profile-info {

    border-bottom: solid 1px black
}

.profile-info p {
    margin: 0;
}

.profile-btn {
    background-color: #005073;
    color: white;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.5rem;
}

.client-headers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.5);
    height: 4.063rem;
    border-width: 0 0 4px 0;
    position: relative;

}

.client-headers::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients-edit-btn {
    width: 108px;
    height: 39px;
    background-color: #005073;
    color: white;
}

.clients-info-btn {
    width: 108px;
    height: 39px;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #005073;
    padding-right: 40px;
    color:#fff;
}
.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.login-bg {
    background-color: #48B7DA;
}

.login-form {
    width: 31.25rem;
    height: 31.25rem;
    background-color: #96E6FF;
    border-radius: 10px;
}

.login-form .trainingicon{
    width: 5.25rem;
}

.login-form .sign-in {
    background-color: #0078AB;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    border-radius: 20px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-form .forgot-password {
    background-color: #3CA1C1;
    border-radius: 20px;
    border: 1px solid black;
    color: white;

}

.login-form .sign-up {
    background-color: #44D442;
    border-radius: 20px;
    border: 1px solid black;
    color: white;

}

 .login-form .error {
     color: #8B0000;
     font-size: 0.8rem;
 }

