:root {
    --primary-color: #005073;
}


@font-face {
    font-family: 'Inter';
    src: url('../Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter', serif;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 0.5rem;
    border-bottom-width: .5px;
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
}

.h4::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}


.text-button {
    cursor:pointer;
}

.sidebar {
    background-color: var(--primary-color);
}

.sidebar nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}


.sidebar nav a .active {
    color:#96E6FF;

}

.profile-info {

}

.profile-item-head {
    color: lightgray;
}

.profile-info p {
    margin: 0;
}

.profile-btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    border:none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.profile-btn:hover {
    color:#96E6FF;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0 0 10px 0 rgba(108, 117, 125, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.client-headers {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.5);
    height: 4.063rem;
    border-width: 0 0 4px 0;
    position: relative;

}

.client-headers::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients-edit-btn {
    width: 108px;
    height: 39px;
    background-color: var(--primary-color);
    color: white;
}

.clients-info-btn {
    width: 108px;
    height: 39px;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
}

.clients .icon {
    color:var(--primary-color);
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--primary-color);
    padding-right: 40px;
    color:black;
}
.input-search::placeholder{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid var(--primary-color);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    color:black
}
.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    color: black;
}


.login-bg {
    background-color: #48B7DA;
}

.login-form {
    width: 31.25rem;
    height: 31.25rem;
    background-color: #96E6FF;
    border-radius: 10px;
}

.login-form .trainingicon{
    width: 5.25rem;
}

.login-form .sign-in {
    background-color: #0078AB;
    color: white;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    border-radius: 20px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-form .forgot-password {
    background-color: #3CA1C1;
    border-radius: 20px;
    border: 1px solid black;
    color: white;

}

.login-form .sign-up {
    background-color: #44D442;
    border-radius: 20px;
    border: 1px solid black;
    color: white;

}

 .login-form .error {
     color: #8B0000;
     font-size: 0.8rem;
 }


 .signup-form-container .sign-in {
     background-color: #44D442;
     border: none;
     cursor: pointer;
     transition: all 0.5s ease-in-out;
 }

.signup-form-container .sign-in:hover {
    background-color: #44D442;
    border: none;
    transform: scale(1.1);
}

 .signup-form-container a {
     text-decoration: none;
     color:black;
 }

 .signup-form-container .have-account-text  {
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 19px;
     color: #000000;
 }


.signup-form-container a:hover {
    color: var(--primary-color);
}

.schedule-save {
    cursor: pointer;
    color:black;
    font-weight: 500;
}
.schedule-save:hover {
    color:var(--primary-color);
}

.main-content {
    background-image: url("../Images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #005073;
    background-blend-mode: screen;

}

